(
  resources: {},
  entities: {
    1: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "grass_block",
        ),
        "recursia::items::NamedItemIcon": (
            path: "grass_block.png"
        ),
        "recursia::items::block_item::BlockItem": (
          BlockName(
            namespace: "core",
            name: "lily"
          )
        ),
      },
    ),
    2: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "tnt_block",
        ),
        "recursia::items::NamedItemIcon": (
            path: "tnt_side.png"
        ),
        "recursia::items::block_item::BlockItem": (
          BlockName(
            namespace: "core",
            name: "tnt"
          )
        ),
      },
    ),
    3: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "dagger",
        ),
        "recursia::items::NamedItemIcon": (
            path: "dagger.png"
        ),
        "recursia::items::weapons::MeleeWeaponItem": (
            damage: 5.0,
            knockback: 5.0,
        ),
      },
    ),
    4: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "personality_tester",
        ),
        "recursia::items::NamedItemIcon": (
            path: "personality_tester.png"
        ),
        "recursia::items::debug_items::PersonalityTester": (),
      },
    ),
    5: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "mega_air",
        ),
        "recursia::items::NamedItemIcon": (
            path: "vacuum.png"
        ),
        "recursia::items::block_item::MegaBlockItem": (
          BlockName(
            namespace: "core",
            name: "empty"
          ),
          10
        ),
      },
    ),
    6: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_pickaxe",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_pickaxe.png"
        ),
        "recursia::items::tools::Tool": (
            pickaxe: 3,
            shovel: 2,
            axe: 2,
        ),
        "recursia::items::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    7: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_axe",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_axe.png"
        ),
        "recursia::items::tools::Tool": (
            axe: 3
        ),
        "recursia::items::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "recursia::items::tools::abilities::AxeAbility": (
            max_blocks: 10,
            search_radius: 2,
            damage_mult: 1.0
        ),
      },
    ),
    8: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_shovel",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_shovel.png"
        ),
        "recursia::items::tools::Tool": (
            shovel: 3
        ),
        "recursia::items::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "recursia::items::tools::abilities::ShovelAbility": (
            radius: 2,
            length: 10,
            damage_mult: 1.0
        )
      },
    ),
  },
)