(
  resources: {},
  entities: {
    3: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "dagger",
        ),
        "recursia::items::NamedItemIcon": (
            path: "dagger.png"
        ),
        "recursia::items::weapons::MeleeWeaponItem": (
            damage: Damage (amount: 5.0),
            knockback: 5.0,
        ),
        "recursia::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 250000000,
            )
        ),
      },
    ),
    4: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "personality_tester",
        ),
        "recursia::items::NamedItemIcon": (
            path: "personality_tester.png"
        ),
        "recursia::items::debug_items::PersonalityTester": (),
      },
    ),
    5: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "mega_air",
        ),
        "recursia::items::NamedItemIcon": (
            path: "vacuum.png"
        ),
        "recursia::items::block_item::MegaBlockItem": (
          BlockName(
            namespace: "core",
            name: "empty"
          ),
          10
        ),
        "recursia::items::item_attributes::ConsumableItem": (),
      },
    ),
    6: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_pickaxe",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_pickaxe.png"
        ),
        "recursia::items::tools::Tool": (
            pickaxe: 3,
            shovel: 2,
            axe: 2,
        ),
        "recursia::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    7: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_axe",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_axe.png"
        ),
        "recursia::items::tools::Tool": (
            axe: 3
        ),
        "recursia::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "recursia::items::tools::abilities::AxeAbility": (
            max_blocks: 10,
            search_radius: 2,
            damage_mult: 1.0
        ),
      },
    ),
    8: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "ruby_shovel",
        ),
        "recursia::items::NamedItemIcon": (
            path: "ruby_shovel.png"
        ),
        "recursia::items::tools::Tool": (
            shovel: 3
        ),
        "recursia::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "recursia::items::tools::abilities::ShovelAbility": (
            radius: 2,
            length: 10,
            damage_mult: 1.0
        )
      },
    ),
    9: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "glowjelly_jar",
        ),
        "recursia::items::NamedItemIcon": (
            path: "glowjelly_jar.png"
        ),
        "recursia::items::actor_items::SpawnActorItem": (ActorName(
          namespace: "core",
          name: "glowjelly",
        )),
        "recursia::items::item_attributes::ConsumableItem": (),
      },
    ),
    10: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "world_anchor",
        ),
        "recursia::items::NamedItemIcon": (
            path: "world_anchor.png"
        ),
        "recursia::items::actor_items::SpawnActorItem": (ActorName(
          namespace: "core",
          name: "world_anchor",
        )),
        "recursia::items::item_attributes::ConsumableItem": (),
      },
    ),
    11: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "moon",
        ),
        "recursia::items::NamedItemIcon": (
            path: "moon.png"
        ),
        "recursia::items::time_items::SkipToNightItem": ()
      },
    ),
    12: (
      components: {
        "recursia::items::ItemName": (
          namespace: "core",
          name: "coin_launcher",
        ),
        "recursia::items::NamedItemIcon": (
            path: "coin.png"
        ),
        "recursia::items::weapons::CoinLauncherItem": (
          speed: 25.0,
          damage: Damage (amount: 2.0)
        )
      },
    ),
  },
)