(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "dagger",
        ),
        "engine::items::NamedItemIcon": (
            path: "dagger.png"
        ),
        "items::weapons::MeleeWeaponItem": (
            damage: Damage (amount: 5.0),
            knockback: 1.0,
        ),
        "items::tools::DontHitBlocks": (),
        "engine::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    4294967299: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "ruby_pickaxe",
        ),
        "engine::items::NamedItemIcon": (
            path: "ruby_pickaxe.png"
        ),
        "items::tools::Tool": (
            pickaxe: 3,
            shovel: 2,
            axe: 2,
        ),
        "engine::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    4294967300: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "ruby_axe",
        ),
        "engine::items::NamedItemIcon": (
            path: "ruby_axe.png"
        ),
        "items::tools::Tool": (
            axe: 3
        ),
        "engine::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "items::tools::abilities::AxeAbility": (
            max_blocks: 10,
            search_radius: 2,
            damage_mult: 1.0
        ),
      },
    ),
    4294967301: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "ruby_shovel",
        ),
        "engine::items::NamedItemIcon": (
            path: "ruby_shovel.png"
        ),
        "items::tools::Tool": (
            shovel: 3
        ),
        "engine::items::item_attributes::ItemSwingSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
        "items::tools::abilities::ShovelAbility": (
            radius: 2,
            length: 10,
            damage_mult: 1.0
        )
      },
    ),
    4294967302: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "glowjelly_jar",
        ),
        "engine::items::NamedItemIcon": (
            path: "glowjelly_jar.png"
        ),
        "items::actor_items::SpawnActorItem": (ActorName(
          namespace: "core",
          name: "glowjelly",
        )),
        "engine::items::item_attributes::ConsumeItemOnHit": (),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 0,
                nanos: 250000000,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    4294967303: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "world_anchor",
        ),
        "engine::items::NamedItemIcon": (
            path: "world_anchor.png"
        ),
        "items::actor_items::SpawnActorItem": (ActorName(
          namespace: "core",
          name: "world_anchor",
        )),
        "engine::items::item_attributes::ConsumeItemOnHit": (),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 1,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    4294967304: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "moon",
        ),
        "engine::items::NamedItemIcon": (
            path: "moon.png"
        ),
        "items::time_items::SkipToNightItem": (),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 0,
                nanos: 250000000,
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
    4294967305: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "coin_launcher",
        ),
        "engine::items::NamedItemIcon": (
            path: "coin.png"
        ),
        "items::weapons::ProjectileLauncherItem": (
          name: "coin",
          speed: 1,
          damage: Damage (amount: 3.0)
        ),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 1,
                nanos: 0
            )
        ),
        "engine::items::item_attributes::ConsumeItemOnHit": ()
      },
    ),
    4294967306: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "spike_ball_launcher",
        ),
        "engine::items::NamedItemIcon": (
            path: "spike_ball.png"
        ),
        "items::weapons::ProjectileLauncherItem": (
          name: "spike_ball",
          speed: 2,
          damage: Damage (amount: 10.0),
          lifetime_mult: 0.5,
        ),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 0,
                nanos: 0,
            ),
            backswing: (
                secs: 0,
                nanos: 250000000
            )
        ),
        "engine::items::item_attributes::ConsumeItemOnHit": ()
      },
    ),
    4294967307: (
      components: {
        "engine::items::ItemName": (
          namespace: "core",
          name: "grapple",
        ),
        "engine::items::NamedItemIcon": (
            path: "grapple.png"
        ),
        "items::grapple_item::GrappleItem": (
          max_speed: 0.5,
          strength: 0.1,
          length: 25.0,
          remove_distance: Some(2.0)
        ),
        "engine::items::item_attributes::ItemUseSpeed": (
            windup: (
                secs: 0,
                nanos: 0
            ),
            backswing: (
                secs: 0,
                nanos: 500000000,
            )
        ),
      },
    ),
  },
)
