(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "grass",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: MultiTexture(("grass_side.png", "grass_top.png", "grass_side.png", "grass_side.png", "dirt.png", "grass_side.png")),
        ),
        "items::tools::ToolResistance": Pickaxe(0),
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
    4294967297: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "dirt",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("dirt.png"),
        ),
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
    4294967298: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "stone",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("stone.png"),
        )
      },
    ),
    4294967299: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "log",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: MultiTexture(("log_side.png", "log_top.png", "log_side.png", "log_side.png", "log_top.png", "log_side.png")),
        ),
        "items::tools::abilities::AxeAbilityTarget": (),
      },
    ),
    4294967300: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "leaves",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("leaves.png"),
        )
      },
    ),
    4294967301: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "log_slab",
        ),
        "physics::collision::BlockPhysics": Aabb(Aabb (
          size: (1.0, 0.5, 1.0),
          offset: (0.0, 0.0, 0.0)
        )),
        "world::block::NamedBlockMesh": (
            shape: BottomSlab(0.5, ("log_side.png", "log_top.png", "log_side.png", "log_side.png", "log_top.png", "log_side.png")),
        )
      },
    ),
    4294967302: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "tnt",
        ),
        "physics::collision::BlockPhysics": Solid,
        "blocks::tnt::TNTBlock": (
          explosion_strength: 10.0,
        ),
        "world::block::UsableBlock": (),
        "world::block::NamedBlockMesh": (
            shape: MultiTexture(("tnt_side.png", "tnt_top.png", "tnt_side.png", "tnt_side.png", "tnt_top.png", "tnt_side.png")),
        )
      },
    ),
    4294967303: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "snow",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("snow.png"),
        ),
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
    4294967304: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "snow_sheet",
        ),
        "world::block::NamedBlockMesh": (
            shape: BottomSlab(0.25, ("snow.png", "snow.png", "snow.png", "snow.png", "snow.png", "snow.png")),
        ),
        "physics::collision::BlockPhysics": Aabb(Aabb (
          size: (1.0, 0.25, 1.0),
          offset: (0.0, 0.0, 0.0),
        )),
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
    4294967305: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "ruby_ore",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("ruby_ore.png"),
        )
      },
    ),
    4294967306: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "moldavite_ore",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("moldavite_ore.png"),
        )
      },
    ),
    4294967307: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "sand",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("sand.png"),
        ),
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
  4294967308: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "cactus",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("cactus.png"),
        ),
        "engine::items::loot::ItemLootTable": (
            drops: [
              (
                item: (namespace: "core", name: "cactus"),
                drop_chance: 1.0,
                drop_count_range: (1, 1)
              ),
              (
                item: (namespace: "core", name: "tnt"),
                drop_chance: 0.5,
                drop_count_range: (3, 5)
              )
            ]
        ),
        "items::tools::abilities::AxeAbilityTarget": (),
      },
    ),
    4294967309: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "cactus_flower",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("cactus_flower.png"),
        ),
        "items::tools::abilities::AxeAbilityTarget": (),
      },
    ),
    4294967310: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "water",
        ),
        "physics::collision::BlockPhysics": Solid,
        "world::block::NamedBlockMesh": (
            shape: Uniform("water.png"),
            use_transparent_shader: true
        )
      },
    ),
    4294967311: (
      components: {
        "world::block::BlockName": (
          namespace: "core",
          name: "lily",
        ),
        "world::block::NamedBlockMesh": (
            shape: Cross(("lily.png","lily.png")),
            use_transparent_shader: true
        ),
        "items::tools::ToolResistance": Instant,
        "items::tools::abilities::ShovelAbilityTarget": (),
      },
    ),
  },
)