(
  resources: {},
  entities: {
    1: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "grass",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: MultiTexture(("grass_side.png", "grass_top.png", "grass_side.png", "grass_side.png", "dirt.png", "grass_side.png")),
        )
      },
    ),
    2: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "dirt",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("dirt.png"),
        )
      },
    ),
    3: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "stone",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("stone.png"),
        )
      },
    ),
    4: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "log",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: MultiTexture(("log_side.png", "log_top.png", "log_side.png", "log_side.png", "log_top.png", "log_side.png")),
        )
      },
    ),
    5: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "leaves",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("leaves.png"),
        )
      },
    ),
    6: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "log_slab",
        ),
        "recursia::world::block::BlockPhysics": BottomSlab(0.5),
        "recursia::world::block::NamedBlockMesh": (
            shape: BottomSlab(0.5, ("log_side.png", "log_top.png", "log_side.png", "log_side.png", "log_top.png", "log_side.png")),
        )
      },
    ),
    7: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "tnt",
        ),
        "recursia::world::block::BlockPhysics": Empty,
        "recursia::world::blocks::tnt::TNTBlock": (
          explosion_strength: 10.0,
        ),
        "recursia::world::block::UsableBlock": (),
        "recursia::world::block::NamedBlockMesh": (
            shape: MultiTexture(("tnt_side.png", "tnt_top.png", "tnt_side.png", "tnt_side.png", "tnt_top.png", "tnt_side.png")),
        )
      },
    ),
    8: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "snow",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("snow.png"),
        )
      },
    ),
    9: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "snow_sheet",
        ),
        "recursia::world::block::BlockPhysics": BottomSlab(0.25),
        "recursia::world::block::NamedBlockMesh": (
            shape: BottomSlab(0.25, ("snow.png", "snow.png", "snow.png", "snow.png", "snow.png", "snow.png")),
        )
      },
    ),
    10: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "ruby_ore",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("ruby_ore.png"),
        )
      },
    ),
    11: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "moldavite_ore",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("moldavite_ore.png"),
        )
      },
    ),
    12: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "sand",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("sand.png"),
        )
      },
    ),
    13: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "cactus",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("cactus.png"),
        )
      },
    ),
    14: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "cactus_flower",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("cactus_flower.png"),
        )
      },
    ),
    15: (
      components: {
        "recursia::world::block::BlockName": (
          namespace: "core",
          name: "water",
        ),
        "recursia::world::block::BlockPhysics": Solid,
        "recursia::world::block::NamedBlockMesh": (
            shape: Uniform("water.png"),
            use_transparent_shader: true
        )
      },
    ),
  },
)