(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "spike_ball_launcher",
            ), 11),
            ((
              namespace: "core",
              name: "dagger",
            ), 5)
          ],
          output: (
            (
              namespace: "core",
              name: "ruby_axe",
            ),
            1
          )
        ),
      },
    ),
  }
)
