(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "spike_ball_launcher",
            ), 1),
            ((
              namespace: "core",
              name: "dagger",
            ), 1)
          ],
          output: (
            (
              namespace: "core",
              name: "coin_launcher",
            ),
            10
          )
        ),
      },
    ),
    4294967297: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "coin_launcher",
            ), 1),
          ],
          output: (
            (
              namespace: "core",
              name: "suicide_pill",
            ),
            1
          )
        ),
      },
    ),
    4294967298: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),

          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967299: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967300: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967301: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967302: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967303: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967304: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967305: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967306: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967307: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    ),
    4294967308: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "suicide_pill",
            ), 2),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            ((
              namespace: "core",
              name: "moon",
            ), 1),
            
          ],
          output: (
            (
              namespace: "core",
              name: "moon",
            ),
            5
          )
        ),
      },
    )
  }
)
