(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "crafting::Recipe": (
          inputs: [
            ((
              namespace: "core",
              name: "stone",
            ), 5),
          ],
          output: (
            (
              namespace: "core",
              name: "rock",
            ),
            1
          )
        ),
      },
    ),
  }
)
