(
  resources: {},
  entities: {
    1: (
      components: {
        "recursia::items::crafting::recipes::NamedBasicBlockRecipe": (
           recipe: [
                [
                    [
                        Some(BlockName (namespace: "core", name: "log"))
                    ]
                ]
           ],
           products: [
                (BlockCoord (x: 0, y: 0, z: 0), BlockName(namespace: "core", name: "tnt"))
           ]
        ),
      },
    ),
    2: (
      components: {
        "recursia::items::crafting::recipes::NamedBasicBlockRecipe": (
           recipe: [
                [
                    [
                        Some(BlockName (namespace: "core", name: "log"))
                    ],
                    [
                        Some(BlockName (namespace: "core", name: "log"))
                    ]
                ]
           ],
           products: [
                (BlockCoord (x: 0, y: 0, z: 0), BlockName(namespace: "core", name: "tnt")),
                (BlockCoord (x: 0, y: 1, z: 0), BlockName(namespace: "core", name: "tnt"))
           ]
        ),
      },
    ),
  }
)